flight/src/FlightBookingProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess" name="FlightBookingProcess" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess" schemaLocation="FlightBookingProcess_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="checkItinerary">
    <part name="parameters" element="tns:checkItinerary"/>
  </message>
  <message name="checkItineraryResponse">
    <part name="parameters" element="tns:checkItineraryResponse"/>
  </message>
  <message name="checkAvailable">
    <part name="parameters" element="tns:checkAvailable"/>
  </message>
  <message name="checkAvailableResponse">
    <part name="parameters" element="tns:checkAvailableResponse"/>
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout"/>
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse"/>
  </message>
  <message name="authUser">
    <part name="parameters" element="tns:authUser"/>
  </message>
  <message name="authUserResponse">
    <part name="parameters" element="tns:authUserResponse"/>
  </message>
  <message name="bookTicket">
    <part name="parameters" element="tns:bookTicket"/>
  </message>
  <message name="bookTicketResponse">
    <part name="parameters" element="tns:bookTicketResponse"/>
  </message>
  <portType name="FlightBookingService">
    <operation name="checkItinerary">
      <input wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/checkItineraryRequest" message="tns:checkItinerary"/>
      <output wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/checkItineraryResponse" message="tns:checkItineraryResponse"/>
    </operation>
    <operation name="checkAvailable">
      <input wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/checkAvailableRequest" message="tns:checkAvailable"/>
      <output wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/checkAvailableResponse" message="tns:checkAvailableResponse"/>
    </operation>
    <operation name="logout">
      <input wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/logoutRequest" message="tns:logout"/>
      <output wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/logoutResponse" message="tns:logoutResponse"/>
    </operation>
    <operation name="authUser">
      <input wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/authUserRequest" message="tns:authUser"/>
      <output wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/authUserResponse" message="tns:authUserResponse"/>
    </operation>
    <operation name="bookTicket">
      <input wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/bookTicketRequest" message="tns:bookTicket"/>
      <output wsam:Action="http://jawxs.flightservice.kth.se/jaxws/flightbookingprocess/FlightBookingService/bookTicketResponse" message="tns:bookTicketResponse"/>
    </operation>
  </portType>
  <binding name="FlightBookingProcessPortBinding" type="tns:FlightBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="checkItinerary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="authUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FlightBookingProcess">
    <port name="FlightBookingProcessPort" binding="tns:FlightBookingProcessPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

